/* Center the content vertically and horizontally */
.body {
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
}
  
/* Add padding and border to the content container */
.content {
	padding: 2rem;
	border: 1px solid #ccc;
	width: 98%;
	height: 98%;

}
  
/* Style the heading and paragraphs */
.h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
  
.p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

*{
	margin: 0px;
	padding: 0px;
}